---
title: Home
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navbar.html %}

    <div class="row">

      <div class="large-12 large-centered columns">

        <header class="masthead">
          <img src="{{ site.baseurl }}/public/profile.jpg" alt="Caleigh Minshall">
        </header>

      </div>
    </div>

  <div class="row">

    <div class="large-6 large-offset-3 columns">

      <div class="content-section">

        <p>
Hi! I'm Caleigh. I'm a <a href="https://www.cs.ubc.ca/students/undergrad/programs/second-degree/what-bcs-ics">Bachelor of Computer Science</a> student at the University of British Columbia. Right now I'm a Software Engineering Co-op at <a href="https://www.d2l.com/">D2L</a>, and on the side I write Python for the <a href="http://slais.ubc.ca/">iSchool@UBC</a>. Before 2016, I was a full-time learning strategist and got my MA in English literature.
        </p>

        <p>
Sometimes I like to write about being a mature student in tech. I also like running, cooking, and trying not to kill my succulents</a>.
        </p>

        <p>
Through it all I've been accompanied by <a href="http://caleighm.github.io/what-millie-ate/">my jerkface dog, Millie</a>.
        </p>

      </div>

      {% include footer.html %}

    </div>

    {% include social.html %}

  </div>

  </body>
</html>