---
title: Home
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="row">
      <div class="large-12 large-centered columns">
        <header class="masthead">
          <img src="{{ site.baseurl }}/public/profile.jpg" alt="Caleigh Minshall">
        </header>
      </div>
    </div>
  <div class="row">
    <div class="large-6 large-offset-3 columns">
      <div class="content-section">

        <p>
          Hi! I'm Caleigh Minshall. I work on the <a href="https://github.com/alexa/avs-device-sdk">Alexa C++ Device SDK</a> team at Amazon Vancouver.
        </p>

        <p>In 2019, I graduated from <a href="https://www.cs.ubc.ca/students/undergrad/programs/second-degree/what-bcs-ics">
  Computer Science</a> at the University of British Columbia. I also interned at <a href="https://www.d2l.com/">
  D2L</a> and wrote Python for the <a href="https://github.com/UBC-NLP">Natural Language
  Processing lab</a> at <a href="http://slais.ubc.ca/">iSchool@UBC</a>. Before 2016, I was a learning
  strategist and completed my MA in English literature, specializing in early modern drama and cultural animal theory (yeah, that's a thing).
        </p>

        <p>
          I like playing Dungeons & Dragons, drawing, occasionally bouldering, and trying not to kill my succulents</a>. I'm accompanied by one <a href="http://caleighm.github.io/what-millie-ate/">terrible dog</a> named Millie.
        </p>

      </div>

      {% include footer.html %}

    </div>

    {% include social.html %}

  </div>

  </body>
</html>
