// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

main h2 {
  font-size: 22px;
  margin-bottom: 2em;
}

.page,
.post {
  margin-bottom: 4em;

  li + li {
    margin-top: .25rem;
  }

  p {
    font-size: 14pt;
  }
}

// Blog post
.post-title,
.post-title a {
  color: #303030;
}
.post-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}

// Meta data line below post title
.post-date {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 14pt;
}

// Navigate posts
.post-nav {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.post-nav a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.post-nav .next {
  text-align: right;
}
