.project {
    font-family: $root-font-family;
    margin-bottom: 3em;

    h2 {
        font-size: 16pt;
        font-family: $root-font-family;
        margin-top: 0rem;
        margin-bottom: 0.25rem;
    }

    p {
        font-size: 12pt;
    }

    img {
        margin-top: 0.75rem;
    }

    .extra {
        color: $gray-4;
        font-weight: lighter;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.7rem;
        letter-spacing: 0.25em;
        margin-bottom: 0.25rem;
        font-family: $navbar-font-family;
    }
    .extra a {
        font-weight: lighter;
    }

}