<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

  <div class="navbar" id="togglable-navbar">
      <ul>
          <li class="icon"><a href="javascript:void(0);" onclick="toggleNav()">&#9776;</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="#resume">Resume</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#home">Home</a></li>
      </ul>
    </div>

    <div class="row">

      <div class="large-12 large-centered columns">

        <header class="masthead">
          <img src="{{ site.baseurl }}/public/profile.jpg" alt="Caleigh Minshall">
        </header>

    </div>
  </div>

  <div class="row">

    <div class="large-6 large-offset-3 columns">

      <div class="content-section">

        <p>
Hi! I'm Caleigh. I'm a <a href="https://www.cs.ubc.ca/students/undergrad/programs/second-degree/what-bcs-ics">Bachelor of Computer Science</a> student at the University of British Columbia. Right now I'm a Software Engineering Co-op at <a href="https://www.d2l.com/">D2L</a>, and on the side I write Python for the <a href="http://slais.ubc.ca/">iSchool@UBC</a>. Before 2016, I was a full-time learning strategist and got my MA in English literature.
        </p>

        <p>
Sometimes I like to write about being a mature student in tech. I also like running, cooking, and trying not to kill my succulents</a>.
        </p>

        <p>
Through it all I've been accompanied by <a href="http://caleighm.github.io/what-millie-ate/">my jerkface dog, Millie</a>.
        </p>

      </div>

      <main>
        <h2>Latest Work</h2>
        {% for post in site.posts %}
          <div class="project-post">
            <h3><a href="{{ post.git }}">{{ post.title }}</a></h3>
            {{ post.content }}
          </div>
        {% endfor %}
      </main>

      <footer>
        <h2>Contact Me</h2>

        <p>
        Send me an <a href="mailto:minshallc@gmail.com?Subject=Hello,%20Caleigh!">email</a>, or you could check out <a href="https://github.com/caleighm">Github</a> or <a href="https://www.linkedin.com/in/caleigh-minshall-00a46522/
">Linkedin</a>.
        </p>

        <p class="copyright">
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </p>
      </footer>

    </div>

    <div class="large-2 large-offset-1 columns social">
      <ul>
        <li><a href="https://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></li>
        <li><a href="mailto:minshallc@gmail.com"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>

  </div>

  <script>
      function toggleNav() {
          var x = document.getElementById("togglable-navbar");
          if (x.className === "navbar") {
              x.className += " responsive";
          } else {
              x.className = "navbar";
          }
      }
  </script>

  </body>
</html>
