---
title: {{ page.title }}
layout: default
comments: true
---
  <article class="post">
    <!-- TODO: add tags, categories, calendar -->
        <main>
          <h1 class="post-title">{{ page.title }}</h1>
          <div class="post-meta">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
            {% if page.comments %} • <a href="{{ site.url }}{{ page.permalink }}#disqus_thread">0 Comments</a>{% endif %}
          </div>
          
          {{ content }}

          <div class="post-nav">
            {% if paginator.previous_page %}
              <a class="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Previous</a>
            {% endif %}

            {% if paginator.next_page %}
              <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
            {% endif %}
          </div>

          {% include disqus.html %}

        </main>
  </article>
</body>
<script id="dsq-count-scr" src="//http-caleighm-com.disqus.com/count.js" async></script>
</html>
